<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<groups>
<run>
</run>
</groups>

<suite parallel = "tests" name="Suite" >
  <test thread-count="5" name="Submit Order Test">
    <classes>
      <class name="GrowNet.FrameworkBuilding.StandAloneTest"/>
      
    </classes>
  </test> <!-- Test -->
  <test thread-count="5" name="Error Validations Test">
    <classes>
      <class name="GrowNet.FrameworkBuilding.ErrorValidations"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
